.user-nav{
	width:1000px;
	margin:0 auto;
}

.list {
	list-style: none;
	width: 1000px;
	margin: 20px auto;
	min-height: 360px;
	height:auto;
	padding: 0;
}

.list .item {
	width: 100%;
	height: 150px;
	text-align: center;
	border: 1px solid #1296db;
	transition: all 0.5s;
	position: relative;
	overflow: hidden;
}

.list .item:hover {
	background-color: #ccc;
}

.list .item p {
	display: inline-block;
	height: 100%;
	line-height: 120px;
	margin:0;
	float: left;
}

.list .item img {
	display: inline-block;
	height: 110px;
	padding: 5px 0;
	width:100%;
}

.good-img {
	width: 150px;
	padding: 10px;
	box-sizing: border-box;
}

.good-price, .good-count {
	width: 200px;
}

.good-description {
	width: 300px;
}
.address{
	width:1000px;
	min-height:600px;
	height:auto;
	margin:0 auto;
	position:relative;
}
.address select,.address span{
	height:40px;
	float:left;
}
.address select {
	width:200px;
	display:inline-block;
	margin:0 10px;
}

.address span{
	display:inline-block;
	width:150px;
	line-height:40px;
	text-align:center;
}
.btn{
	top:30px;
	margin:0;
	clear:both;
	position:relative;
	left:41%;
	bottom:30px;
}
.address input {
	width:300px;
}
.form-div{
	text-align:left;
	clear:both;
	padding-left:10px;
}
.addredelete{
	position:relative;
	width:50px;
	height:30px;
	display:inline-block;
	left:950px;
	top:10px;
}
